<h1 mat-dialog-title>
  <mat-form-field appearance="fill">
    <input matInput placeholder="Title" [(ngModel)]="data.name">
  </mat-form-field>
</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Note content</mat-label>
    <textarea matInput placeholder="Your note goes here" [(ngModel)]="data.content"></textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>
